body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table, th, td {
  border: 1px solid #555555;
  border-collapse: collapse;
  padding-left: 10px;
  padding-right: 10px;
  border-style: hidden;
}
img {
  border-radius: 30px;
  max-width: 100%;
}
a:link {
  color: #d4aa00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #d4aa00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #d4aa00;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #d4aa00;
  background-color: transparent;
  text-decoration: none;
}

#anc:hover {
    content: url('images/Ancienthover.webp');
}

#dus:hover {
    content: url('images/Dust2hover.webp');
}

#inf:hover {
    content: url('images/Infernohover.webp');
}

#mir:hover {
    content: url('images/Miragehover.webp');
}

#nuk:hover {
    content: url('images/Nukehover.webp');
}

#ove:hover {
    content: url('images/Overpasshover.webp');
}

#tra:hover {
    content: url('images/Trainhover.webp');
}